<div class="container">  
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4" *ngFor="let hero of heroes">
          <div class="card">
            <img class="card-img-top center-block product-item" src="{{hero.image}}" alt="{{hero.name}}">
            <div class="card-block text-xs-center">
              <h4 class="card-title">{{hero.name}}</h4>
              <h4 class="card-subtitle"><span class="label label-success">ID: {{hero.id}}</span></h4>
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col --> 
      </div>
      <!-- /.row -->
    </div><!-- /.col -->
    <div class="col-md-3">
      <h2>{{title}}</h2>
      <h3>{{hero.name}} details!</h3>
      <div>
        <label>name: </label>
        <input [(ngModel)]="hero.name" placeholder="name">
      </div>
    </div>
    <!-- /.col -->    
  </div>
  <!-- /.row -->
</div>
