<div class="container">  
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4" *ngFor="let hero of heroes">
          <div class="card">
            <img class="card-img-top center-block product-item" src="{{hero.image}}" alt="{{hero.name}}">
            <div class="card-block text-xs-center">
              <h4 class="card-title">{{hero.name}}</h4>
              <h4 class="card-subtitle"><span class="label label-success">ID: {{hero.id}}</span></h4>
              <hr>
              <div class="btn-group" role="group">
                <button 
                [class.selected]="hero === selectedHero"
                (click)="OnSelected(hero)">Select</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col --> 
      </div>
      <!-- /.row -->
    </div><!-- /.col -->
    <my-hero-detail [hero]="selectedHero"></my-hero-detail>
    <!-- /.col -->    
  </div>
  <!-- /.row -->
</div>
